/*Creado por Alexis Antonio Fuentes Che*/

@font-face {
    font-family: 'istok';
    src: url('../fonts/istokweb-regular-webfont.eot');
    src: url('../fonts/istokweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/istokweb-regular-webfont.woff') format('woff'),
         url('../fonts/istokweb-regular-webfont.ttf') format('truetype'),
         url('../fonts/istokweb-regular-webfont.svg#istok_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*Reseteo*/

*{
    border:0;
    margin:0;
    padding:0;
}
article, figcaption, figure, footer, header, hgroup, nav, section{
    display:block;
}
/*Termina reseteo*/
body{
    background: #f0f0f0;
    color: #313131;
    font-family: "istok", Helvetica, Verdana;
    font-size: 1em;
}
a{
    color: #8021FC;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #21ed79;
}
/*Responsive de las imagenes*/
img{
    max-width: 100%;
}
/*Definir el ancho del contenido*/
header{
    background: #9AEC30;
    margin-bottom: 0;
}
header, footer{
    max-width: 100%;
    text-align: center;
}
header ul,header h1{
    display: inline-block;
    vertical-align: middle;
}
nav{
    border-bottom: solid 1px #88ce2e;
    box-shadow: 0 1px 3px rgba(140, 216, 43, 0.9);
}
nav ul{
    list-style: none;
    padding: 2em 0;
}
h1#corp{
    text-align: left;
    width: 35%;
}
ul#nav{
    text-align: right;
    width: 60%;
}
nav li{
    display: inline-block;
    padding: 0.3em;
    vertical-align: top;
}
nav a{
    color: #FFF;
    display: block;
    text-shadow: 0.1em 0.1em 0.3em rgba(0,0,0,0.7);
    padding: 0.2em 0.6em;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
nav ul a:hover{
    background: #82c62a;
    border-radius: 0.9em;
    color: #FFF;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
footer{
    color: 
}
.container{
    max-width: 90%;
    margin: 0 auto;
}
.container article{
    background: #FFF;
    box-shadow: 0 0 5px #888;
    border-radius: 0.3em;
    display: inline-block;
    max-width: 30%;
    margin: 0.5em;
    padding: 0.5em;
    text-align:justify;
    vertical-align: top;
}
.flex-content{
    background: #9AEC30;
    margin: 0 auto;
    max-width: 70%;
}
.slide{
    background: #9AEC30;
    max-width: 100%;
}
/*Estilos del slide*/
ul#slides{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 60%;
    height: 16em;
}
ul#slides li {
    width: 70%;
    text-align: center;
    cursor: pointer;
}
ul#slides li img {
    border: solid 10px #fcfcfc;
    border-radius: 0.1em;
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
    width: 80%;
}
ul#slides li.roundabout-in-focus {
    cursor: default;
}
ul#slides li span {
    display: block;
    padding-top: 1sem;
}